.弹窗 {
    display: none;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    height: 18.75rem;
    background: lightblue;
    position: absolute;
    padding: 2.5rem 2.5rem;
    left: 30%;
    top: 35%;
    border-radius: 1.70rem;
    overflow: scroll;
}
*
{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body
{
	min-height: 100vh;
	background: #0c192c;
}
.动态背景
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.动态背景2
{
	position: relative;
	display: flex;
	
}
.动态背景2 span
{
	position: relative;
	width: 1.875rem;
	height: 1.875rem;
	background: #4fc3dc;
	margin: 0 0.25rem;
	border-radius: 50%;
	box-sizing: 0 0 0 0.625rem #4fc3dc44,
	0 0 3.125rem #4fc3dc,
	0 0 6.25rem #4fc3dc;
	animation: animate 15% linear infinite; 
	animation-duration: calc(125% / var(--1));
}
.动态背景2 span:nth-child(even)
{
	background: #ff2d75;
	box-sizing: 0 0 0 0.625rem #ff2d7544,
	0 0 3.125rem #ff2d75,
	0 0 6.25rem #ff2d75;
}
@keyframes animate
{
	0%
	{
		transform: translateY(100vh) scale(0);
	}
	100%
	{
		transform: translateY(-10vh) scale(1);
	}
}